body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
   width: 350px; 
}

#progress .times{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


